<div class="row">
  <div class="col-lg-10 col-xs-10">
    <h1>my pokemons</h1>
  </div>
  <div class="col-lg-2 col-xs-2">
    <%= link_to '<span style="font-size:3em" class="glyphicon glyphicon-plus-sign"></span>'.html_safe, new_pokemon_path %>
  </div>
</div>
<div class="well bs-component">
  <table class="table table-striped table-hover ">
    <thead>
      <tr>
        <th>imagen</th>
        <th>Name</th>
        <th>Description</th>
        <th>level</th>
        <th>Options</th>
      </tr>
    </thead>

    <tbody>
      <% @catches.each do |catch| %>
      <tr>
        <td><%= image_tag catch.pokemon.photo.thumb %></td>
        <td><%= catch.pokemon.name %></td>
        <td><%= catch.pokemon.description %></td>
        <td><%= catch.level %></td>
        <td><%= link_to 'Lvl up!', level_up_catch_path(catch), method: :post %></td>
      </tr>
      <% end %>
    </tbody>
  </table>
</div>
