<div class="row">
  <div class="col-lg-10 col-xs-10">
    <h1>Pokemons</h1>
  </div>
  <div class="col-lg-2 col-xs-2">
    <%= link_to '<span style="font-size:3em" class="glyphicon glyphicon-plus-sign"></span>'.html_safe, new_pokemon_path %>
  </div>
</div>
<div class="well bs-component">
  <table class="table table-striped table-hover ">
    <thead>
      <tr>
        <th>Name</th>
        <th>Description</th>
        <th colspan="4"></th>
      </tr>
    </thead>

    <tbody>
      <% @pokemons.each do |pokemon| %>
      <tr>
        <td><%= image_tag pokemon.photo.thumb %></td>
        <td><%= pokemon.name %></td>
        <td><%= pokemon.description %></td>
        <td><%= link_to 'Show', pokemon %></td>
        <td><%= link_to 'Edit', edit_pokemon_path(pokemon)%></td>
        <td><%= link_to 'Destroy', pokemon, method: :delete, data: { confirm: 'Are you sure?' } %></td>
        <td><%= link_to "capturar", add_pokemon_path(pokemon), method: :post%></td>
      </tr>
      <% end %>
    </tbody>
  </table>
</div>
